/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
*.gradle text eol=lf
*.java text eol=lf
*.md text eol=lf
*.proto text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.dockerignore text eol=lf
Dockerfile text eol=lf
